<h1>Esta es la vista para mostrar los posts</h1>
<p>
  <strong>Title:</strong>
  <p><%= @post.title %></p>
</p>
<hr>
<p>
  <strong>Text:</strong>
  <p><%= @post.text %></p>
</p>
<h2>Comments</h2>

<%= render @post.comments %>

<h2>Add a comment:</h2>

<%= render 'comments/form' %>

<%= link_to "Edit", edit_post_path(@post) %> | 
<%= link_to "Back", :action => :index %>
